*{
  margin:0;
  padding:0;
  text-decoration: none;

}
img,
embed,
object,
video{
  max-width: 100%;
}
body{
  min-height: 100%;
  max-height: 100%;
  font-size: 62.5%;
  font-family: 'Spectral', serif;
  font-weight: bold;
  letter-spacing: -.5px;
}
h2{
  font-size:1em;
  font-weight: bold;
  font-family:fantasy ;
}
a:visited{
  list-style: none;
}
li{
  list-style-type: none;
}
li:visited{
}
a:link{
  text-decoration: none;
  color:black;
}
a:visited{
  text-decoration: none;
  color:black;
}
a:hover{
  text-decoration: none;
  color:cyan;
}
h4{
  font-size:2em;
  text-decoration: underline;
}
h5{
  font-size: 1.5em;
}
#Name{
  width: 100%;
  align-content: center;
  text-align: center;
  font-family: 'Yesteryear',cursive;
  font-size: 4em;
}
#contactMe{
  position: relative;
  text-align: center;
  align-content: center;
  font-size: 1.5em;
  padding-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: black solid;
}
#contactMe li{
  display: inline;
  position: relative;
  padding-left: 5px;
}
#identity{
  max-width: 100%;
  max-height: 100%;
}
#selfie{
  position: relative;
  float:left;
  width: 30%;
  height: auto;
  border:black solid;
  margin: 10px 20px 20px 0px;
  margin-left: 2%;
}
#describeMe{
  position: relative;
  font-size: 1.5em;
  max-width: 100%;
  margin-right:3%;
}
#SkillHeading{
  margin:0 0 3px 0;
}
#technologies{
  position: relative;
  margin:40px 0 40px 0;
  display: inline-block;
  align-items: center;
  text-align: center;
}
#subHeaders{
  position: relative;
  text-decoration: underline;
}
#skillList{
  display: inline-block;
  position:relative;
  align-content: center;
  align-items: center;
  margin:10px 0 10px 0;
}
#skillList li{
  font-size: 1.5em;
}
#Portfolio{
  font-size:1.5em;
  text-align: center;
  margin: 0 0 20px 0;
}
#PortfolioName{
  text-decoration: underline;
}
#soundcloud{
  display: inline-block;
  left:1%;
  width: 30%;
  height: auto;
}
#timely{
  display: block;
  position:relative;
  bottom:0;
  align-content: center;
  text-align: center;
  margin-top:20px;
  font-size: 1.3em;
}
